.app {
  max-width: 1080px;
  margin: var(--scale-24) auto;
}

.app-header, .app-toolbar {
  margin-bottom: var(--scale-24);
}

.app-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--scale-24);
}
.app .app-output {
  padding: 0;
}
.app .app-output .sample-grid {
  overflow: auto;
}
.app .app-output .sample-grid.show-grid {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.06) 1px, transparent 1px);
}

/* app-code */

.app .app-output {
  max-height: 50vh;
  position: sticky;
  top: 0;
}

.app .app-output .Output {
  background: var(--ui-surface-high);
  border-radius: var(--ui-border-radius-large);
  padding: var(--scale-16) var(--scale-16) var(--scale-20);
  font-size: 0.875rem;
  font-family: var(--ui-font-mono-family);
  white-space: pre;
  color: #521d0d;
}

.app .app-output .code-highlight {
  background: rgba(91, 0, 207, 0.08);
  padding: var(--scale-4);
  margin: calc(var(--scale-4) * -1);
  border-radius: var(--ui-border-radius-medium);

}