.App {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  grid-auto-flow: column;
  gap: 16px;
  height: calc(100vh - 32px);
}

.App section {
  background: #ececec;
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 6px;
  box-shadow: inset 0 0 0 2px #ccc;
}

.App .App-output {
  padding: 0;
  background: #fff;
}
.App .App-output .sample-grid {
  border-radius: 6px;
  overflow: auto;
}
.App .App-output .sample-grid.show-grid {
  background-image: linear-gradient(to bottom, #ccc 1px, transparent 1px);
}