.editor-toolbar {
  background: var(--ui-chrome-low);
  display: grid;
  grid-auto-flow: column;
  border-radius: var(--ui-border-radius-large);
  gap: var(--scale-24);
  grid-template-columns: 2fr 1fr;
}

.editor-toolbar-base {
  display: flex;
  flex-flow: row;
  gap: var(--scale-16);
  padding: var(--scale-16);
}

.editor-toolbar-output {
  background: transparent;
  padding: var(--scale-16);
  padding-left: 0;
}