#edit-toolbar {
  background: var(--ui-obj-medium);
  display: grid;
  grid-auto-flow: column;
  padding: var(--scale-16);
  border-radius: var(--ui-border-radius-large);
  gap: var(--scale-16);
  grid-template-columns: 1fr 400px;
}

.edit-toolbar-base {
  display: flex;
  flex-flow: row;
  gap: var(--scale-16);
}

.edit-toolbar-output {
  background: transparent;
}