.editor-toolbar {
  background: var(--ui-chrome-low);
  display: grid;
  grid-auto-flow: column;
  gap: var(--scale-24);
  border-radius: var(--ui-border-radius-large);
  grid-template-columns: 1fr 1fr;
  transition: 80ms linear box-shadow;
}

.editor-toolbar:focus-within {
  box-shadow: inset 0 0 0 var(--ui-border-width-thin) var(--ui-obj-border), 0 6px 24px var(--ui-chrome-low);
}

.editor-toolbar-base {
  display: flex;
  flex-flow: row;
  gap: var(--scale-16);
  padding: var(--scale-16);
  padding-right: 0;
}

.editor-toolbar-output {
  display: flex;
  flex-flow: row;
  gap: var(--scale-16);
  padding: var(--scale-16);
  padding-left: 0;
}