.editor-text-sample {
  position: relative;
  padding-left: 0;
  padding-right: var(--scale-16);
  overflow: hidden;
}

.editor-ruler {
  display: grid;
  position: relative;
  padding-left: var(--scale-16);
  padding-bottom: 1px;
  color: var(--ui-text-high);
  font-size: var(--sample-font-size);
  line-height: var(--sample-line-height);
  font-weight: var(--sample-font-weight);
  /*max-width: 55ch;*/
}

.type-scale-item:focus-within .editor-ruler {
  background-size: 8px var(--sample-ruler-large), 4px var(--sample-ruler-small);
  background-image: linear-gradient(to bottom, var(--ui-obj-accent) 1px, transparent 1px), linear-gradient(to bottom, var(--ui-obj-border) 1px, transparent 1px);
  background-repeat: repeat-y, repeat-y;
}

.editor-ruler::after, .editor-ruler textarea {
  grid-area: 1 / 1 / 2 / 2;
}

.editor-ruler::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.editor-ruler textarea {
  display: block;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  resize: none;
  outline: none;
  width: 100%;
  overflow: hidden;
}

.editor-hover-line {
  display: none;
  background: #f4f4f4;
  width: 100%;
  height: var(--sample-ruler-large);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
  box-shadow: inset 0 1px 0 #ececec;
  border-bottom: 1px solid #ececec;
}

.type-scale-item:focus-within .editor-hover-line {
  background: #FFEBE2;
  box-shadow: inset 0 1px 0 #FFCDB1;
  border-bottom: 1px solid #FFCDB1;
}