.TypeScaleEditor {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 10px;
}

.TypeScaleEditor thead, .TypeScaleEditor th {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
}

.TypeScaleEditor td {
  padding: 0;
  border: 1px solid #ccc;
}

.TypeScaleEditor td .VInputField {
  width: 100%;
  border-radius: 0;
  border: none;
}
.TypeScaleEditor tr:focus-within {
  background: #ccc;
  border-radius: 3px;
}
.TypeScaleEditor td .VInputField:focus-within {
  box-shadow: 0 0 0 1px var(--ui-obj-focus);
  box-shadow: 0 0 0 1px var(--ui-obj-focus), 0 0 0 4px rgba(0, 0, 255, 0.2);
  border-radius: 2px;
  position: relative;
  z-index: 10;
}

.type-scale-item {
  background: var(--ui-obj-high);
  border-radius: var(--ui-border-radius-large);
  padding-bottom: var(--scale-16);
}
.type-scale-item:not(:first-child) {
  border-top: var(--ui-border-width-thin) solid var(--ui-obj-border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.type-scale-item:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.type-scale-item:not(:hover, :focus-within) .editor-ruler {
  /*background: none;*/
}
.type-scale-item:hover, .type-scale-item:focus-within {
  background: var(--ui-obj-medium);
}
.type-scale-item-toolbar {
  display: flex;
  flex-flow: row;
  gap: var(--scale-8);
  padding: var(--scale-16);
}