.VInputField {
  --VInputField-border-width: 1px;

  box-sizing: border-box;
  /*max-width: 8ch;*/
  position: relative;
  font-size: inherit;
  line-height: var(--ui-line-height);
  border: var(--ui-border-width-thin) solid var(--ui-obj-border);
  border-radius: 4px;
  background: var(--ui-obj-high);
  display: grid;
  grid-auto-flow: column;
  gap: var(--scale-4);
  padding: calc(var(--scale-4) - var(--ui-border-width-thin));
  cursor: text;
}
.VInputField.hidden {
  opacity: 0.25;
}
.VInputField.disabled {
  background: var(--ui-obj-low);
}
.VInputField.fullWidth {
  width: 100%;
  max-width: none;
}

/* Focus */

.VInputField:focus-within {
  border-color: var(--ui-obj-focus);
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.2);
}
.VInputField input:focus {
  outline: none;
}

.VInputField input {
  border: none;
  background: transparent;
  font: inherit;
  line-height: inherit;
  width: 100%;
  box-sizing: border-box;
  -moz-appearance: textfield;
  padding: 0;
}

/* OS elements */

.VInputField input:not(:focus)::-webkit-outer-spin-button,
.VInputField input:not(:focus)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.VInputField input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.VInputField input:invalid {
  color: var(--ui-text-invalid);
}



.VInputField .suffix {
  padding-right: 4px;
  color: var(--ui-text-low);
  cursor: text;
  user-select: none;
}
.VInputField:focus-within .suffix {
  display: none;
}