.VInputField {
  --VInputField-border-width: 2px;

  max-width: 8ch;
  position: relative;
  font-size: 14px;
  border: var(--VInputField-border-width) solid #ccc;
  border-radius: 6px;
  background: #fff;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  cursor: text;
}
.VInputField.hidden {
  opacity: 0.25;
}
.VInputField.disabled {
  background: #ccc;
}
.VInputField.fullWidth {
  width: 100%;
  max-width: none;
}

.VInputField:focus-within {
  border-color: #333;
}

.VInputField input {
  border: none;
  background: transparent;
  font: inherit;
  width: 100%;
  box-sizing: border-box;
  -moz-appearance: textfield;
}
.VInputField input::-webkit-outer-spin-button,
.VInputField input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.VInputField input:focus {
  outline: none;
}




.VInputField .suffix {
  padding-right: 4px;
  color: #999;
  cursor: text;
  user-select: none;
}