.VLabel {
  user-select: none;
  margin-bottom: var(--scale-8);
}

.VLabel .VInputField {
  margin-top: var(--scale-4);
}

.VLabel.fullWidth {
  width: 100%;
}

.VLabel.fullWidth .VInputField {
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}