.TextboxLabel {
  user-select: none;
  width: auto;
  width: min-content;
  white-space: nowrap;
}

.TextboxLabel .Textbox {
  margin-top: var(--scale-4);
}

.TextboxLabel.fullWidth {
  width: 100%;
}

.TextboxLabel.fullWidth .Textbox {
  width: 100%;
  max-width: none;
  box-sizing: border-box;
}
.TextboxLabel input[type="checkbox"] {
  accent-color: var(--accent);
  margin: 0 var(--scale-4) 0 0;
  position: relative;
  width: var(--scale-12);
  height: var(--scale-12);
  vertical-align: baseline;
}
.TextboxLabel input[type="checkbox"]:after {
  content: "";
  position: absolute;
  background: transparent;
  width: var(--scale-24);
  height: var(--scale-24);
  margin-left: calc((var(--scale-24) - var(--scale-12)) / -2);
  margin-top: calc((var(--scale-24) - var(--scale-12)) / -2);
}